{% extends 'base.html.twig' %}

{% block title %}Saison {{ season.number }} de {{ program.title }}{% endblock %}

{% block body %}
    <div class="container-fluid ml-4">
        <h1 class="text-center my-4">Saison {{ season.number }} Episode {{ episode.number }} de {{ program.title }}</h1>
        <h2>{{ episode.title }}</h2>
        <div class="mb-2">
            {{ episode.synopsis }}
        </div>
    </div>

    <h3> Commentaires : </h3>
    <ul>
    {% for comment in episode.comments %}
        <li>De : {{ comment.user.email }} <br>
            Note : {{ comment.rate }} <br>
            Commentaire : {{ comment.comment }}
        </li>

        </ul>
        {% if app.user %}
            {% if is_granted("ROLE_ADMIN") or app.user.email == comment.user.email %}
                {{ include('program/_delete_comment.html.twig') }}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if app.user %}
        <h3>Ajouter un commentaire</h3>
        {{ include('episode/_form.html.twig') }}
    {% endif %}
{% endblock %}
