{%  extends 'base.html.twig' %}
{% block body%}
    <div>Série - {{ program.title }} | Saison {{ season.number }}</div>
    <div>Description : {{ season.description }}</div>
    {%  for episode in season.episodes %}
        <div><a href="{{ path("program_episode_show", { program: program.id , season: season.id, episode: episode.id }) }}">
                Episode {{ episode.number }} : {{ episode.title }}
            </a></div>
    {% else %}
        Aucun épisode, va au lit !
    {% endfor %}

{% endblock %}
