{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{ actor.name }}{% endblock %}

{% block body %}
    <h1>{{ actor.name }}:</h1>
    <h2>Séries ou il est présent:</h2>
    {% for program in actor.programs %}
        <div>

            <a href="{{ path('program_show', { id: program.id }) }}">{{ program.title }}</a>
        </div>
    {% else %}
        Aucun acteur trouvé.
    {% endfor %}




{% endblock %}
