{% block navbar %}

    <a href="/">Retour page d'accueil</a>
    <a class="nav-item nav-link" href="{{ path('program_index') }}">Programmes</a>
    <a class="nav-link" href="{{ path('category_index') }}">Catégories</a>
    <a class="nav-link" href="{{ path('actors_index') }}">Acteurs</a>
    {% if app.user %}
        {{ app.user.email }}
        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
        <a class="btn" href="{{ path('user_profile') }}">Profil</a>
    {% else %}
        <a href="{{ path('app_login') }}"> Se connecter</a>
    {% endif %}



{% endblock %}

